body {
    text-align: center;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 180%;
    background-image: url(../images/intro_qm.jpg);
    background-size: unset;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

#questions {
    background-color: white;
    width: 70%;
    display: block;
    visibility: hidden;
    position: absolute;
    left: 15%;
}

#answers {
    width: 70%;
    display: block;
    background-color: rgb(46,56,154);
    color: aliceblue;
    visibility: hidden;
    position: absolute;
    left: 15%;
}

#top {
    background-color: rgb(46,56,154);
    color: aliceblue;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#start {
    background-color: rgb(46,56,154);
    color: aliceblue;
    visibility: visible;
    position: absolute;
    left: 15%;
    width: 70%;
}